$color-primary: rgb(149, 255, 117); 
$color-secondary: rgb(42, 42, 42); 
$color-light: rgb(255, 255, 255);     
$color-dark: rgb(17, 17, 17);      
$color-warning: rgb(255, 215, 0);  
$color-border: rgb(149, 255, 117);

$font-main: "Roboto", sans-serif;

$gap-small: 1rem;
$gap-medium: 1.5rem;
$gap-large: 2rem;

$color-background-main: rgb(73, 73, 100);
$color-text-main: white;
$color-text-secondary: white;
$color-card-bg: rgba(217, 217, 217, 0.36);
$color-btn-buy: #ff4500;
$color-btn-details: rgb(73, 73, 100);
$color-text-overlay: white;
$color-price: #95ff75;
